@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);


.header {
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: 100%;
   
    display: flex;
    top: 10%;
    border-radius: 35px 35px 0 0;
    /* background: linear-gradient(to bottom, #0059e800 0%, #bebebe 12%, #595959 64%, #838383 96%); */
    justify-content: space-between;
    transform: scale(.9);
}
.in-center{
    border: 1px solid #252525;
    background: linear-gradient(to bottom, #bebebe 12%, #595959 64%, #838383 96%);
    border-radius: 25px 25px 0px 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 58%;
    padding-bottom: 4%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10%
}
.in-left{
    position: relative;
    height: 100%;
    width: 20%;
    float: left;
    border-top-right-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, #bebebe 12%, #595959 64%, #838383 96%);
    padding-top: 5%;
}
.in-right{
    position: relative;
    height: 100%;
    width: 20%;
    float: right;
    display: flex;
    flex-flow: row;
    border-top-left-radius: 25px;
    background: linear-gradient(to bottom, #bebebe 12%, #595959 64%, #838383 96%);
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50%;
    padding-top: 3%;
}

.header-in{
    border: 1px solid #252525;
    background: linear-gradient(to bottom, #0059e8 4%, #3f97ff 14%, blue 64%, #0043cf 96%);
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 0px;
    width: -webkit-fill-available;
    font-size: 25px;
    font-family: monospace;
}



.header-in-left{
    position: relative;
    margin-right: 5px;
    height: 100%;
    float: left;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    font-family: monospace;
  

}

.header-in-centre{
    position: relative;
    margin-right: 5px;
    height: 100%;
    float: left;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    font-family: monospace;
    width: 50%;
    justify-content: flex-end;
}
.header-in-centre-text{
    color: #ffffff;
    display: flex;
    font-size: 35px;
    align-items: center;
    font-weight: 500;
    position: relative;
    gap: 5px;
}

.header-in-centre-text a{
 
}
.header-in-centre-text img{
    width: 25px;
   }
.header-in-centre-text:hover{
    border-bottom: 4px solid #73a4e4;
    /* border-image: linear-gradient(to right, #f3000000 16%, #73a4e4 1%) 1; */
}

.header-in-centre-text #active{
    
}

.header-in-left a{
    cursor: pointer;
    text-decoration: none;
   
}
.header-in-left-text{
    color: #ffffff;
    display: flex;
    font-size: 25px;
    align-items: center;
    font-weight: 500;
}


.header-in-right{
    position: relative;
    margin-right: 20px;
    margin-top: 15px;
    height: 100%;
    width: 10%;
    float: right;
    display: flex;
    top: -10px;
    align-items: center;
    flex-direction: row-reverse;
    gap: 3px;
}

.header-button{
   color: rgb(164 167 170);
   border-radius: 5px;
   padding: 5px 10px;
   margin: 0px 0px 0px 0px;
   text-decoration: none;
   font-size: 0.9em;
   font-family: 'Pixel Georgia';
   width: 20px;
   height: 10px;
   display: flex;
    align-items: center;
    justify-content: center;

}
.header-button img{
    position: relative;
    width: 30px;
 }




.left-list{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
    margin-top: -25%;
    padding-top: 26px;
    margin-left: 0;
    transform: scale(.9);
}
.left-bar{
    position: relative;
    display: flex;
    margin: 0;
    max-width: 100%;
    width: 100%;
    padding: 12px 18px;
    border: 3px solid #222;
    background-color: rgb(27 27 27 / 60%);
    color: #4E7CFF;
    font-weight: 700;
    border-radius: 3px;
    font-size: 14px;
    font-family: monospace;
    gap: 15px;
    flex-direction: column;
}
.left-bar .active{
    box-shadow: 0px 0px 12px rgba(32, 36, 66, 0.06);
    background-color: #73a4e4;
    color: #f7f4f1;
    opacity: 1;
    padding: 12px 18px 12px 30px;
}
.left-bar a{
    position: relative;
    display: block;
    margin: 0;
    padding: 12px 18px;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: rgb(190 190 190);
    font-weight: 700;
    border-radius: 3px;
    font-size: 14px;
}
.left-bar a:hover{
    padding: 12px 18px 12px 24px;
    background: #0000005e;
    transition: 0.3s ease;
}
.left-bar-list{
    background: rgb(27 27 27 / 30%);
    border-radius: 1px;
    font-size: 20px;
    border: 3px solid #222;
    padding: 1% 0 5% 0;
    color: #73a4e4;
}
.left-bar-list a{
    position: relative;
    display: block;
    margin: 0;
    padding: 12px 18px;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: rgb(190 190 190);
    font-weight: 700;
    border-radius: 3px;
    font-size: 14px;
}
.left-bar-list a:hover{
    padding: 12px 18px 12px 34px;
    background: #0000005e;
    transition: 0.3s ease;
}
.center-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
    width: 90%;
    padding-top: 30px;
    margin-top:0.9%;
}
.center-text{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
   
    max-width: 100%;
    background-color: rgb(27 27 27 / 60%);
    border:3px solid #222;
    border-top: 0;
}



.main-text{
    padding: 1%;
    width: 95%;
    font-weight: 100;
    font-size: 20px;
    font-family: monospace;

}

.main-text #name {

    font-size: 35px;
    font-weight: bold;
    font-family: monospace;
    color: #73a4e4;
}
.no-main-text{
   
}

























.slider_img_card {
    border: 1px solid #252525;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0 20px;
    transition: transform .2s ease;
    cursor: default;
    height: 200px
}
.slider_img_card:hover {
    transform: scale(1.03)
}


.slider_img {
    position: absolute;
    z-index: -1;
    opacity: .3;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/img/icons/icon.png) repeat-x;
    background-size: contain;
    background-position-x: 0;
    gap: 25px;
    animation: slider_img_anim 25s linear infinite;
}

.slider_img_card h1 {
    font-size: 2.3em !important;
    padding-bottom: 5px;
	position: relative;
	color: rgba(50, 115, 220, 0.904);
  
    text-shadow: 0px 0px 10px rgba(50, 115, 220, 0.829);
    /* animation: slider_text_anim 15s linear infinite; */
}
.slider_text_card {
	/* width: 100%; */
	text-align: center;
    font-size: 1.7em !important;
    padding-bottom: 5px;
	position: absolute;
   
}

.slider_img_card span {
	
    color: rgba(50, 115, 220, 0.712);
    font-size: 1.9em !important;
    text-shadow: 0px 0px 10px rgba(50, 115, 220, 0.829);
}



@keyframes slider_img_anim {
    0% {
        background-position-x: -100%
    }

    to {
        background-position-x: 100%
    }
}
.dot-here{
    position: absolute;
    margin-left: -10%;
    margin-top: 8px;
}
.dot, .pulse {
    animation: pulse 1s infinite ease-in-out;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #73a32f;
    border-radius: 100%;
    
}
  
  
  .pulse {
    animation: wave 1s infinite ease-in-out;
    margin-left: 0px;
  
  
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.48); }
    100% { transform: scale(1); }
  }
  
  @keyframes wave {
    0% { transform: scale(1); opacity: 1;}
    100% { transform: scale(6); opacity: 0;}
  }
  